---
layout: main
title: tracrpc.ticket.ResolutionRPC
---
<h1 class="name">tracrpc.ticket.ResolutionRPC</h1>
<h2 class="package">In package <a href="packages/TracXMLRPC/index.html">TracXMLRPC</a></h2>

<pre class="doc">Interface to ticket resolution. </pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/tracrpc.api.IXMLRPCHandler/index.html">tracrpc.api.IXMLRPCHandler</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
</table>
