---
layout: main
title: trac.versioncontrol.api.DbRepositoryProvider
---
<h1 class="name">trac.versioncontrol.api.DbRepositoryProvider</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Component providing repositories registered in the DB.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryProvider/index.html">trac.versioncontrol.api.IRepositoryProvider</a></li>
  <li><a href="interfaces/trac.admin.api.IAdminCommandProvider/index.html">trac.admin.api.IAdminCommandProvider</a></li>
</ul>
