
<html><head><base href="http://ejucovy.github.com/trac-docs/"><body>
<h1 class="name">trac.versioncontrol.api.DbRepositoryProvider</h1>

<p class="doc">Component providing repositories registered in the DB.</p>

<h2>Implements:</h2>
<ul>
  <li><a href="/interface/trac.versioncontrol.api.IRepositoryProvider/index.html">trac.versioncontrol.api.IRepositoryProvider</a></li>
  <li><a href="/interface/trac.admin.api.IAdminCommandProvider/index.html">trac.admin.api.IAdminCommandProvider</a></li>
</ul>
</body></html>
