---
layout: main
title: trac.ticket.roadmap.MilestoneModule
---
<h1 class="name">trac.ticket.roadmap.MilestoneModule</h1>
<div class="package">In package Trac</div>

<pre class="doc">View and edit individual milestones.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.timeline.api.ITimelineEventProvider/index.html">trac.timeline.api.ITimelineEventProvider</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
  <li><a href="interfaces/trac.resource.IResourceManager/index.html">trac.resource.IResourceManager</a></li>
  <li><a href="interfaces/trac.search.api.ISearchSource/index.html">trac.search.api.ISearchSource</a></li>
</ul>
