---
layout: main
title: tractags.api.TagSystem
---
<h1 class="name">tractags.api.TagSystem</h1>
<h2 class="package">In package <a href="packages/TracTags/index.html">TracTags</a></h2>

<pre class="doc">Tagging system for Trac.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.resource.IResourceManager/index.html">trac.resource.IResourceManager</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/tractags.api.ITagProvider/index.html">tractags.api.ITagProvider</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>tags</td>
    <td>wiki_page_link</td>
    <td>BoolOption</td>
    <td>True</td>
    <td>Link a tag to the wiki page with same name, if it exists.</td>
  </tr>
</table>
