---
layout: main
title: tractags.api.DefaultTagProvider
---
<h1 class="name">tractags.api.DefaultTagProvider</h1>
<h2 class="package">In package <a href="packages/TracTags/index.html">TracTags</a></h2>

<pre class="doc">An abstract base tag provider that stores tags in the database.

Use this if you need storage for your tags. Simply set the class variable
`realm` and optionally `check_permission()`.

See tractags.wiki.WikiTagProvider for an example.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/tractags.api.ITagProvider/index.html">tractags.api.ITagProvider</a></li>
</ul>
