---
layout: main
title: trac.notification.SendmailEmailSender
---
<h1 class="name">trac.notification.SendmailEmailSender</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">E-mail sender using a locally-installed sendmail program.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.notification.IEmailSender/index.html">trac.notification.IEmailSender</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>notification</td>
    <td>sendmail_path</td>
    <td>Option</td>
    <td>sendmail</td>
    <td>Path to the sendmail executable.

The sendmail program must accept the `-i` and `-f` options.
 (''since 0.12'')</td>
  </tr>
</table>
