---
layout: main
title: tracjsgantt.tracjsgantt.TracJSGanttSupport
---
<h1 class="name">tracjsgantt.tracjsgantt.TracJSGanttSupport</h1>
<h2 class="package">In package <a href="packages/Trac-jsGantt/index.html">Trac-jsGantt</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
