---
layout: main
title: acct_mgr.htfile.AbstractPasswordFileStore
---
<h1 class="name">acct_mgr.htfile.AbstractPasswordFileStore</h1>
<h2 class="package">In package <a href="packages/TracAccountManager/index.html">TracAccountManager</a></h2>

<pre class="doc">Base class for managing password files.

Derived classes support different formats such as
Apache's htpasswd and htdigest format.
See these concrete sub-classes for usage information.</pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>account-manager</td>
    <td>password_file</td>
    <td>EnvRelativePathOption</td>
    <td></td>
  </tr>
</table>
