---
layout: main
title: trac.timeline.web_ui.TimelineModule
---
<h1 class="name">trac.timeline.web_ui.TimelineModule</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.timeline.api.ITimelineEventProvider/index.html">trac.timeline.api.ITimelineEventProvider</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>timeline</td>
    <td>abbreviated_messages</td>
    <td>BoolOption</td>
    <td>True</td>
  </tr>
  <tr>
    <td>timeline</td>
    <td>default_daysback</td>
    <td>IntOption</td>
    <td>30</td>
  </tr>
  <tr>
    <td>timeline</td>
    <td>max_daysback</td>
    <td>IntOption</td>
    <td>90</td>
  </tr>
</table>
