---
layout: main
title: componentdependencies.test.TestDependencyPlugin
---
<h1 class="name">componentdependencies.test.TestDependencyPlugin</h1>
<h2 class="package">In package <a href="packages/ComponentDependencyPlugin/index.html">ComponentDependencyPlugin</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/componentdependencies.interface.IRequireComponents/index.html">componentdependencies.interface.IRequireComponents</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
