---
layout: main
title: tracext.changesetnotifier.api.ChangesetNotifier
---
<h1 class="name">tracext.changesetnotifier.api.ChangesetNotifier</h1>
<h2 class="package">In package <a href="packages/TracChangesetNotifier/index.html">TracChangesetNotifier</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryChangeListener/index.html">trac.versioncontrol.api.IRepositoryChangeListener</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">changeset/notify_changesets</a></li>
  <li><a href="">changeset/notification_recipients</a></li>
</ul>
