---
layout: main
title: tracext.changesetnotifier.api.ChangesetNotifier
---
<h1 class="name">tracext.changesetnotifier.api.ChangesetNotifier</h1>
<h2 class="package">In package <a href="packages/TracChangesetNotifier/index.html">TracChangesetNotifier</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryChangeListener/index.html">trac.versioncontrol.api.IRepositoryChangeListener</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>changeset</td>
    <td>notify_changesets</td>
    <td>BoolOption</td>
    <td>true</td>
    <td>Send notifications for changeset updates.</td>
  </tr>
  <tr>
    <td>changeset</td>
    <td>notification_recipients</td>
    <td>Option</td>
    <td>Sets the changeset notification recipients.
                        The default notification CC option is also applied.</td>
    <td></td>
  </tr>
</table>
