---
layout: main
title: dynfields.web_ui.DynamicFieldsModule
---
<h1 class="name">dynfields.web_ui.DynamicFieldsModule</h1>
<h2 class="package">In package <a href="packages/TracDynamicFields/index.html">TracDynamicFields</a></h2>

<pre class="doc">A module that dynamically alters ticket fields based an extensible
set of rules.  Uses jQuery for full implementation.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.prefs.api.IPreferencePanelProvider/index.html">trac.prefs.api.IPreferencePanelProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/dynfields.rules.IRule/index.html">dynfields.rules.IRule</a></li>
</ul>
