---
layout: main
title: trac.db.postgres_backend.PostgreSQLConnector
---
<h1 class="name">trac.db.postgres_backend.PostgreSQLConnector</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Database connector for PostgreSQL.

Database URLs should be of the form:
{{{
postgres://user[:password]@host[:port]/database[?schema=my_schema]
}}}</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.db.api.IDatabaseConnector/index.html">trac.db.api.IDatabaseConnector</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>trac</td>
    <td>pg_dump_path</td>
    <td>Option</td>
    <td>pg_dump</td>
  </tr>
</table>
