---
layout: main
title: trac.env.Environment
---
<h1 class="name">trac.env.Environment</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Trac environment manager.

Trac stores project information in a Trac environment. It consists
of a directory structure containing among other things:
    * a configuration file, 
    * project-specific templates and plugins,
    * the wiki and ticket attachments files,
    * the SQLite database file (stores tickets, wiki pages...)
      in case the database backend is sqlite</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.env.ISystemInfoProvider/index.html">trac.env.ISystemInfoProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.env.IEnvironmentSetupParticipant/index.html">trac.env.IEnvironmentSetupParticipant</a></li>
  <li><a href="interfaces/trac.env.ISystemInfoProvider/index.html">trac.env.ISystemInfoProvider</a></li>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">trac/base_url</a></li>
  <li><a href="">trac/use_base_url_for_redirect</a></li>
  <li><a href="">logging/log_file</a></li>
  <li><a href="">logging/log_format</a></li>
  <li><a href="">logging/log_level</a></li>
  <li><a href="">logging/log_type</a></li>
  <li><a href="">project/admin</a></li>
  <li><a href="">project/admin_trac_url</a></li>
  <li><a href="">project/descr</a></li>
  <li><a href="">project/footer</a></li>
  <li><a href="">project/icon</a></li>
  <li><a href="">project/name</a></li>
  <li><a href="">project/url</a></li>
  <li><a href="">trac/secure_cookies</a></li>
  <li><a href="">inherit/plugins_dir</a></li>
</ul>
