---
layout: main
title: trac.env.Environment
---
<h1 class="name">trac.env.Environment</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Trac environment manager.

Trac stores project information in a Trac environment. It consists
of a directory structure containing among other things:
    * a configuration file, 
    * project-specific templates and plugins,
    * the wiki and ticket attachments files,
    * the SQLite database file (stores tickets, wiki pages...)
      in case the database backend is sqlite</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.env.ISystemInfoProvider/index.html">trac.env.ISystemInfoProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.env.IEnvironmentSetupParticipant/index.html">trac.env.IEnvironmentSetupParticipant</a></li>
  <li><a href="interfaces/trac.env.ISystemInfoProvider/index.html">trac.env.ISystemInfoProvider</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>trac</td>
    <td>base_url</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>trac</td>
    <td>use_base_url_for_redirect</td>
    <td>BoolOption</td>
    <td>False</td>
  </tr>
  <tr>
    <td>logging</td>
    <td>log_file</td>
    <td>Option</td>
    <td>trac.log</td>
  </tr>
  <tr>
    <td>logging</td>
    <td>log_format</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>logging</td>
    <td>log_level</td>
    <td>Option</td>
    <td>DEBUG</td>
  </tr>
  <tr>
    <td>logging</td>
    <td>log_type</td>
    <td>Option</td>
    <td>none</td>
  </tr>
  <tr>
    <td>project</td>
    <td>admin</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>project</td>
    <td>admin_trac_url</td>
    <td>Option</td>
    <td>.</td>
  </tr>
  <tr>
    <td>project</td>
    <td>descr</td>
    <td>Option</td>
    <td>My example project</td>
  </tr>
  <tr>
    <td>project</td>
    <td>footer</td>
    <td>Option</td>
    <td>Visit the Trac open source project at&lt;br /&gt;&lt;a href=&quot;http://trac.edgewall.org/&quot;&gt;http://trac.edgewall.org/&lt;/a&gt;</td>
  </tr>
  <tr>
    <td>project</td>
    <td>icon</td>
    <td>Option</td>
    <td>common/trac.ico</td>
  </tr>
  <tr>
    <td>project</td>
    <td>name</td>
    <td>Option</td>
    <td>My Project</td>
  </tr>
  <tr>
    <td>project</td>
    <td>url</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>trac</td>
    <td>secure_cookies</td>
    <td>BoolOption</td>
    <td>False</td>
  </tr>
  <tr>
    <td>inherit</td>
    <td>plugins_dir</td>
    <td>PathOption</td>
    <td></td>
  </tr>
</table>
