---
layout: main
title: tracrpc.web_ui.RPCWeb
---
<h1 class="name">tracrpc.web_ui.RPCWeb</h1>
<h2 class="package">In package <a href="packages/TracXMLRPC/index.html">TracXMLRPC</a></h2>

<pre class="doc">Handle RPC calls from HTTP clients, as well as presenting a list of
methods available to the currently logged in user. Browsing to
&lt;trac&gt;/rpc or &lt;trac&gt;/login/rpc will display this list. </pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/tracrpc.api.IRPCProtocol/index.html">tracrpc.api.IRPCProtocol</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
</table>
