---
layout: main
title: timingandestimationplugin.tande_filters.ReportsFilter
---
<h1 class="name">timingandestimationplugin.tande_filters.ReportsFilter</h1>
<h2 class="package">In package <a href="packages/timingandestimationplugin/index.html">timingandestimationplugin</a></h2>

<pre class="doc">Remove all billing reports from the reports list.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
</ul>
