---
layout: main
title: acct_mgr.svnserve.SvnServePasswordStore
---
<h1 class="name">acct_mgr.svnserve.SvnServePasswordStore</h1>
<h2 class="package">In package <a href="packages/TracAccountManager/index.html">TracAccountManager</a></h2>

<pre class="doc">PasswordStore implementation for reading svnserve's password file format
    </pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/acct_mgr.api.IPasswordStore/index.html">acct_mgr.api.IPasswordStore</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">account-manager/password_file</a></li>
</ul>
