---
layout: main
title: tracopt.ticket.clone.TicketCloneButton
---
<h1 class="name">tracopt.ticket.clone.TicketCloneButton</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Add a 'Clone' button to the ticket box. 

This button is located next to the 'Reply' to description button,
and pressing it will send a request for creating a new ticket
which will be based on the cloned one.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
</ul>
