---
layout: main
title: announcer.email_decorators.TicketAddlHeaderEmailDecorator
---
<h1 class="name">announcer.email_decorators.TicketAddlHeaderEmailDecorator</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Adds X-Announcement-(id,priority and severity) headers to ticket
emails.  This is useful for automated handling of incoming emails or
customized filtering.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.distributors.mail.IAnnouncementEmailDecorator/index.html">announcer.distributors.mail.IAnnouncementEmailDecorator</a></li>
</ul>
