---
layout: main
title: announcer.distributors.mail.EmailDistributor
---
<h1 class="name">announcer.distributors.mail.EmailDistributor</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementDistributor/index.html">announcer.api.IAnnouncementDistributor</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/announcer.distributors.mail.IAnnouncementEmailDecorator/index.html">announcer.distributors.mail.IAnnouncementEmailDecorator</a></li>
  <li><a href="interfaces/announcer.distributors.mail.IEmailSender/index.html">announcer.distributors.mail.IEmailSender</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementFormatter/index.html">announcer.api.IAnnouncementFormatter</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementAddressResolver/index.html">announcer.api.IAnnouncementAddressResolver</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>announcer</td>
    <td>email_crypto</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>default_email_format</td>
    <td>Option</td>
    <td>text/plain</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>email_from</td>
    <td>Option</td>
    <td>trac@localhost</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>email_sender</td>
    <td>ExtensionOption</td>
    <td>SmtpEmailSender</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>email_enabled</td>
    <td>BoolOption</td>
    <td>true</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>email_from_name</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>gpg_binary</td>
    <td>Option</td>
    <td>gpg</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>gpg_home</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>mime_encoding</td>
    <td>Option</td>
    <td>base64</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>gpg_signing_key</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>rcpt_allow_regexp</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>rcpt_local_regexp</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>email_replyto</td>
    <td>Option</td>
    <td>trac@localhost</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>email_address_resolvers</td>
    <td>OrderedExtensionsOption</td>
    <td>SpecifiedEmailResolver, SessionEmailResolver, DefaultDomainEmailResolver</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>email_subject_prefix</td>
    <td>Option</td>
    <td>__default__</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>email_to</td>
    <td>Option</td>
    <td>undisclosed-recipients: ;</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>use_public_cc</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>use_threaded_delivery</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
</table>
