---
layout: main
title: trac.web.main.RequestDispatcher
---
<h1 class="name">trac.web.main.RequestDispatcher</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Web request dispatcher.

This component dispatches incoming requests to registered
handlers.  Besides, it also takes care of user authentication and
request pre- and post-processing.</pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IAuthenticator/index.html">trac.web.api.IAuthenticator</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
</ul>
