---
layout: main
title: trac.db.mysql_backend.MySQLConnector
---
<h1 class="name">trac.db.mysql_backend.MySQLConnector</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Database connector for MySQL version 4.1 and greater.

Database URLs should be of the form:
{{{
mysql://user[:password]@host[:port]/database[?param1=value&amp;param2=value]
}}}
The following parameters are supported:
 * `compress`: Enable compression (0 or 1)
 * `init_command`: Command to run once the connection is created
 * `named_pipe`: Use a named pipe to connect on Windows (0 or 1)
 * `read_default_file`: Read default client values from the given file
 * `read_default_group`: Configuration group to use from the default file
 * `unix_socket`: Use a Unix socket at the given path to connect</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.db.api.IDatabaseConnector/index.html">trac.db.api.IDatabaseConnector</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
