---
layout: main
title: trac.versioncontrol.svn_authz.AuthzSourcePolicy
---
<h1 class="name">trac.versioncontrol.svn_authz.AuthzSourcePolicy</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Permission policy for `source:` and `changeset:` resources using a
Subversion authz file.

`FILE_VIEW` and `BROWSER_VIEW` permissions are granted as specified in the
authz file.

`CHANGESET_VIEW` permission is granted for changesets where `FILE_VIEW` is
granted on at least one modified file, as well as for empty changesets.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionPolicy/index.html">trac.perm.IPermissionPolicy</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>trac</td>
    <td>authz_file</td>
    <td>PathOption</td>
    <td></td>
  </tr>
  <tr>
    <td>trac</td>
    <td>authz_module_name</td>
    <td>Option</td>
    <td></td>
  </tr>
</table>
