---
layout: main
title: trac.versioncontrol.svn_authz.AuthzSourcePolicy
---
<h1 class="name">trac.versioncontrol.svn_authz.AuthzSourcePolicy</h1>

<pre class="doc">Permission policy for `source:` and `changeset:` resources using a
Subversion authz file.

`FILE_VIEW` and `BROWSER_VIEW` permissions are granted as specified in the
authz file.

`CHANGESET_VIEW` permission is granted for changesets where `FILE_VIEW` is
granted on at least one modified file, as well as for empty changesets.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionPolicy/index.html">trac.perm.IPermissionPolicy</a></li>
</ul>
