---
layout: main
title: tracrpc.search.SearchRPC
---
<h1 class="name">tracrpc.search.SearchRPC</h1>
<h2 class="package">In package <a href="packages/TracXMLRPC/index.html">TracXMLRPC</a></h2>

<pre class="doc">Search Trac. </pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/tracrpc.api.IXMLRPCHandler/index.html">tracrpc.api.IXMLRPCHandler</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.search.api.ISearchSource/index.html">trac.search.api.ISearchSource</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
