---
layout: main
title: componentdependencies.componentdependency.ComponentDependencyPlugin
---
<h1 class="name">componentdependencies.componentdependency.ComponentDependencyPlugin</h1>
<h2 class="package">In package <a href="packages/ComponentDependencyPlugin/index.html">ComponentDependencyPlugin</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.env.IEnvironmentSetupParticipant/index.html">trac.env.IEnvironmentSetupParticipant</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/componentdependencies.interface.IRequireComponents/index.html">componentdependencies.interface.IRequireComponents</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
</table>
