---
layout: main
title: tracopt.ticket.commit_updater.CommitTicketUpdater
---
<h1 class="name">tracopt.ticket.commit_updater.CommitTicketUpdater</h1>

<pre class="doc">Update tickets based on commit messages.

This component hooks into changeset notifications and searches commit
messages for text in the form of:
{{{
command #1
command #1, #2
command #1 &amp; #2 
command #1 and #2
}}}

Instead of the short-hand syntax &quot;#1&quot;, &quot;ticket:1&quot; can be used as well,
e.g.:
{{{
command ticket:1
command ticket:1, ticket:2
command ticket:1 &amp; ticket:2 
command ticket:1 and ticket:2
}}}

In addition, the ':' character can be omitted and issue or bug can be used
instead of ticket.

You can have more than one command in a message. The following commands
are supported. There is more than one spelling for each command, to make
this as user-friendly as possible.

  close, closed, closes, fix, fixed, fixes::
    The specified tickets are closed, and the commit message is added to
    them as a comment.

  references, refs, addresses, re, see::
    The specified tickets are left in their current status, and the commit
    message is added to them as a comment. 

A fairly complicated example of what you can do is with a commit message
of:

    Changed blah and foo to do this or that. Fixes #10 and #12,
    and refs #12.

This will close #10 and #12, and add a note to #12.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryChangeListener/index.html">trac.versioncontrol.api.IRepositoryChangeListener</a></li>
</ul>
