---
layout: main
title: breadcrumbsnav.breadcrumbs.BreadCrumbsSystem
---
<h1 class="name">breadcrumbsnav.breadcrumbs.BreadCrumbsSystem</h1>
<h2 class="package">In package <a href="packages/BreadCrumbsNav/index.html">BreadCrumbsNav</a></h2>

<pre class="doc">Provider of bread cumbs navigation bar right below Trac metanav.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.env.IEnvironmentSetupParticipant/index.html">trac.env.IEnvironmentSetupParticipant</a></li>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
</ul>
