---
layout: main
title: trachours.web_ui.TracHoursSidebarProvider
---
<h1 class="name">trachours.web_ui.TracHoursSidebarProvider</h1>
<h2 class="package">In package <a href="packages/TracHoursPlugin/index.html">TracHoursPlugin</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/ticketsidebarprovider.interface.ITicketSidebarProvider/index.html">ticketsidebarprovider.interface.ITicketSidebarProvider</a></li>
  <li><a href="interfaces/componentdependencies.interface.IRequireComponents/index.html">componentdependencies.interface.IRequireComponents</a></li>
</ul>
