---
layout: main
title: ticketsubmitpolicy.ticketsubmitpolicy.TicketSubmitPolicyPlugin
---
<h1 class="name">ticketsubmitpolicy.ticketsubmitpolicy.TicketSubmitPolicyPlugin</h1>
<h2 class="package">In package <a href="packages/TicketSubmitPolicy/index.html">TicketSubmitPolicy</a></h2>

<pre class="doc">enforce a policy for allowing ticket submission based on fields</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
  <li><a href="interfaces/trac.admin.api.IAdminPanelProvider/index.html">trac.admin.api.IAdminPanelProvider</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/ticketsubmitpolicy.interface.ITicketSubmitPolicy/index.html">ticketsubmitpolicy.interface.ITicketSubmitPolicy</a></li>
</ul>

<h2>Options:</h2>
<ul>
</ul>
