---
layout: main
title: blackmagic.blackmagic.BlackMagicTicketTweaks
---
<h1 class="name">blackmagic.blackmagic.BlackMagicTicketTweaks</h1>
<h2 class="package">In package <a href="packages/BlackMagicTicketTweaks/index.html">BlackMagicTicketTweaks</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.ticket.api.ITicketManipulator/index.html">trac.ticket.api.ITicketManipulator</a></li>
  <li><a href="interfaces/trac.perm.IPermissionPolicy/index.html">trac.perm.IPermissionPolicy</a></li>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.perm.IPermissionStore/index.html">trac.perm.IPermissionStore</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>blackmagic</td>
    <td>gray_disabled</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>blackmagic</td>
    <td>permissions</td>
    <td>ListOption</td>
    <td>[]</td>
  </tr>
</table>
