---
layout: main
title: mail2trac.email2ticket.EmailToTicket
---
<h1 class="name">mail2trac.email2ticket.EmailToTicket</h1>
<h2 class="package">In package <a href="packages/mail2trac/index.html">mail2trac</a></h2>

<pre class="doc">create a ticket from an email</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/mail2trac.interface.IEmailHandler/index.html">mail2trac.interface.IEmailHandler</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
