---
layout: main
title: trac.web.chrome.Chrome
---
<h1 class="name">trac.web.chrome.Chrome</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Web site chrome assembly manager.

Chrome is everything that is not actual page content.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.env.ISystemInfoProvider/index.html">trac.env.ISystemInfoProvider</a></li>
  <li><a href="interfaces/trac.env.IEnvironmentSetupParticipant/index.html">trac.env.IEnvironmentSetupParticipant</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">trac/auto_preview_timeout</a></li>
  <li><a href="">trac/auto_reload</a></li>
  <li><a href="">trac/default_dateinfo_format</a></li>
  <li><a href="">trac/fingerprint_resources</a></li>
  <li><a href="">trac/genshi_cache_size</a></li>
  <li><a href="">trac/htdocs_location</a></li>
  <li><a href="">trac/jquery_location</a></li>
  <li><a href="">header_logo/alt</a></li>
  <li><a href="">header_logo/height</a></li>
  <li><a href="">header_logo/link</a></li>
  <li><a href="">header_logo/src</a></li>
  <li><a href="">header_logo/width</a></li>
  <li><a href="">trac/mainnav</a></li>
  <li><a href="">trac/metanav</a></li>
  <li><a href="">trac/never_obfuscate_mailto</a></li>
  <li><a href="">trac/resizable_textareas</a></li>
  <li><a href="">inherit/htdocs_dir</a></li>
  <li><a href="">inherit/templates_dir</a></li>
  <li><a href="">trac/show_email_addresses</a></li>
  <li><a href="">trac/show_ip_addresses</a></li>
</ul>
