---
layout: main
title: tracfullblog.core.FullBlogCore
---
<h1 class="name">tracfullblog.core.FullBlogCore</h1>
<h2 class="package">In package <a href="packages/TracFullBlogPlugin/index.html">TracFullBlogPlugin</a></h2>

<pre class="doc">Module implementing features that are common and shared
between the various parts of the plugin. </pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
  <li><a href="interfaces/trac.resource.IResourceManager/index.html">trac.resource.IResourceManager</a></li>
  <li><a href="interfaces/trac.attachment.ILegacyAttachmentPolicyDelegate/index.html">trac.attachment.ILegacyAttachmentPolicyDelegate</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/tracfullblog.api.IBlogChangeListener/index.html">tracfullblog.api.IBlogChangeListener</a></li>
  <li><a href="interfaces/tracfullblog.api.IBlogManipulator/index.html">tracfullblog.api.IBlogManipulator</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
