---
layout: main
title: tracdeveloper.plugins.PluginRegistry
---
<h1 class="name">tracdeveloper.plugins.PluginRegistry</h1>
<h2 class="package">In package <a href="packages/TracDeveloper/index.html">TracDeveloper</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
