---
layout: main
title: tracbzr.backend.BzrWikiMacros
---
<h1 class="name">tracbzr.backend.BzrWikiMacros</h1>
<h2 class="package">In package <a href="packages/TracBzr/index.html">TracBzr</a></h2>

<pre class="doc">Component for macros related to bzr.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.wiki.api.IWikiMacroProvider/index.html">trac.wiki.api.IWikiMacroProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
