---
layout: main
title: trac.versioncontrol.web_ui.browser.BrowserModule
---
<h1 class="name">trac.versioncontrol.web_ui.browser.BrowserModule</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
  <li><a href="interfaces/trac.mimeview.api.IHTMLPreviewAnnotator/index.html">trac.mimeview.api.IHTMLPreviewAnnotator</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiMacroProvider/index.html">trac.wiki.api.IWikiMacroProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.versioncontrol.web_ui.browser.IPropertyRenderer/index.html">trac.versioncontrol.web_ui.browser.IPropertyRenderer</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>browser</td>
    <td>color_scale</td>
    <td>BoolOption</td>
    <td>True</td>
  </tr>
  <tr>
    <td>browser</td>
    <td>downloadable_paths</td>
    <td>ListOption</td>
    <td>/trunk, /branches/*, /tags/*</td>
  </tr>
  <tr>
    <td>browser</td>
    <td>hide_properties</td>
    <td>ListOption</td>
    <td>svk:merge</td>
  </tr>
  <tr>
    <td>browser</td>
    <td>intermediate_color</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>browser</td>
    <td>intermediate_point</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>browser</td>
    <td>newest_color</td>
    <td>Option</td>
    <td>(255, 136, 136)</td>
  </tr>
  <tr>
    <td>browser</td>
    <td>oldest_color</td>
    <td>Option</td>
    <td>(136, 136, 255)</td>
  </tr>
  <tr>
    <td>browser</td>
    <td>render_unsafe_content</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
</table>
