
<html><head><base href="http://ejucovy.github.com/trac-docs/"><body>
<h1 class="name">trac.versioncontrol.web_ui.browser.BrowserModule</h1>

<p class="doc"></p>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
  <li><a href="interfaces/trac.mimeview.api.IHTMLPreviewAnnotator/index.html">trac.mimeview.api.IHTMLPreviewAnnotator</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiMacroProvider/index.html">trac.wiki.api.IWikiMacroProvider</a></li>
</ul>
</body></html>
