---
layout: main
title: trac.config.ConfigurationAdmin
---
<h1 class="name">trac.config.ConfigurationAdmin</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">trac-admin command provider for trac.ini administration.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.admin.api.IAdminCommandProvider/index.html">trac.admin.api.IAdminCommandProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<ul>
</ul>
