---
layout: main
title: announcer.resolvers.SpecifiedEmailResolver
---
<h1 class="name">announcer.resolvers.SpecifiedEmailResolver</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementAddressResolver/index.html">announcer.api.IAnnouncementAddressResolver</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementPreferenceProvider/index.html">announcer.api.IAnnouncementPreferenceProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
