---
layout: main
title: announcer.email_decorators.ThreadingEmailDecorator
---
<h1 class="name">announcer.email_decorators.ThreadingEmailDecorator</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Add Message-ID, In-Reply-To and References message headers for resources.
All message ids are derived from the properties of the ticket so that they
can be regenerated later.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.distributors.mail.IAnnouncementEmailDecorator/index.html">announcer.distributors.mail.IAnnouncementEmailDecorator</a></li>
</ul>
