---
layout: main
title: trac.perm.PermissionSystem
---
<h1 class="name">trac.perm.PermissionSystem</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Permission management sub-system.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionPolicy/index.html">trac.perm.IPermissionPolicy</a></li>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionStore/index.html">trac.perm.IPermissionStore</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>trac</td>
    <td>permission_policies</td>
    <td>OrderedExtensionsOption</td>
    <td>DefaultPermissionPolicy, LegacyAttachmentPolicy</td>
    <td>List of components implementing `IPermissionPolicy`, in the order in
which they will be applied. These components manage fine-grained access
control to Trac resources.
Defaults to the DefaultPermissionPolicy (pre-0.11 behavior) and
LegacyAttachmentPolicy (map ATTACHMENT_* permissions to realm specific
ones)</td>
  </tr>
  <tr>
    <td>trac</td>
    <td>permission_store</td>
    <td>ExtensionOption</td>
    <td>DefaultPermissionStore</td>
    <td>Name of the component implementing `IPermissionStore`, which is used
for managing user and group permissions.</td>
  </tr>
</table>
