
<html><head><base href="http://ejucovy.github.com/trac-docs/"><body>
<h1 class="name">trac.versioncontrol.web_ui.changeset.ChangesetModule</h1>

<pre class="doc">Renderer providing flexible functionality for showing sets of
differences.

If the differences shown are coming from a specific changeset,
then that changeset information can be shown too.

In addition, it is possible to show only a subset of the changeset:
Only the changes affecting a given path will be shown. This is called
the ''restricted'' changeset.

But the differences can also be computed in a more general way,
between two arbitrary paths and/or between two arbitrary revisions.
In that case, there's no changeset information displayed.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.timeline.api.ITimelineEventProvider/index.html">trac.timeline.api.ITimelineEventProvider</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
  <li><a href="interfaces/trac.search.api.ISearchSource/index.html">trac.search.api.ISearchSource</a></li>
</ul>
</body></html>
