---
layout: main
title: timingandestimationplugin.hours_layout_changer.HoursLayoutChanger
---
<h1 class="name">timingandestimationplugin.hours_layout_changer.HoursLayoutChanger</h1>
<h2 class="package">In package <a href="packages/timingandestimationplugin/index.html">timingandestimationplugin</a></h2>

<pre class="doc">This moves the add hours box up to underneath the comment box. 
This prevents needing to expand the &quot;Modify Ticket&quot; section to 
add hours and a comment</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
</table>
