---
layout: main
title: tracreposearch.search.TracRepoSearchPlugin
---
<h1 class="name">tracreposearch.search.TracRepoSearchPlugin</h1>
<h2 class="package">In package <a href="packages/tracreposearch/index.html">tracreposearch</a></h2>

<pre class="doc">Search the source repository. </pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.search.api.ISearchSource/index.html">trac.search.api.ISearchSource</a></li>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<ul>
</ul>
