---
layout: main
title: trac.mimeview.api.Mimeview
---
<h1 class="name">trac.mimeview.api.Mimeview</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Generic HTML renderer for data, typically source code.</pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.mimeview.api.IHTMLPreviewAnnotator/index.html">trac.mimeview.api.IHTMLPreviewAnnotator</a></li>
  <li><a href="interfaces/trac.mimeview.api.IContentConverter/index.html">trac.mimeview.api.IContentConverter</a></li>
  <li><a href="interfaces/trac.mimeview.api.IHTMLPreviewRenderer/index.html">trac.mimeview.api.IHTMLPreviewRenderer</a></li>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">trac/default_charset</a></li>
  <li><a href="">mimeviewer/max_preview_size</a></li>
  <li><a href="">mimeviewer/tab_width</a></li>
  <li><a href="">mimeviewer/treat_as_binary</a></li>
</ul>
