---
layout: main
title: trac.mimeview.api.Mimeview
---
<h1 class="name">trac.mimeview.api.Mimeview</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Generic HTML renderer for data, typically source code.</pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.mimeview.api.IHTMLPreviewAnnotator/index.html">trac.mimeview.api.IHTMLPreviewAnnotator</a></li>
  <li><a href="interfaces/trac.mimeview.api.IContentConverter/index.html">trac.mimeview.api.IContentConverter</a></li>
  <li><a href="interfaces/trac.mimeview.api.IHTMLPreviewRenderer/index.html">trac.mimeview.api.IHTMLPreviewRenderer</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>trac</td>
    <td>default_charset</td>
    <td>Option</td>
    <td>utf-8</td>
  </tr>
  <tr>
    <td>mimeviewer</td>
    <td>max_preview_size</td>
    <td>IntOption</td>
    <td>262144</td>
  </tr>
  <tr>
    <td>mimeviewer</td>
    <td>tab_width</td>
    <td>IntOption</td>
    <td>8</td>
  </tr>
  <tr>
    <td>mimeviewer</td>
    <td>treat_as_binary</td>
    <td>ListOption</td>
    <td>application/octet-stream, application/pdf, application/postscript, application/msword,application/rtf,</td>
  </tr>
</table>
