---
layout: main
title: mastertickets.web_ui.MasterTicketsModule
---
<h1 class="name">mastertickets.web_ui.MasterTicketsModule</h1>
<h2 class="package">In package <a href="packages/TracMasterTickets/index.html">TracMasterTickets</a></h2>

<pre class="doc">Provides support for ticket dependencies.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.ticket.api.ITicketManipulator/index.html">trac.ticket.api.ITicketManipulator</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>mastertickets</td>
    <td>closed_color</td>
    <td>Option</td>
    <td>green</td>
    <td>Color of closed tickets</td>
  </tr>
  <tr>
    <td>mastertickets</td>
    <td>dot_path</td>
    <td>Option</td>
    <td>dot</td>
    <td>Path to the dot executable.</td>
  </tr>
  <tr>
    <td>mastertickets</td>
    <td>graph_direction</td>
    <td>ChoiceOption</td>
    <td>TD</td>
    <td>Direction of the dependency graph (TD = Top Down, DT = Down Top, LR = Left Right, RL = Right Left)</td>
  </tr>
  <tr>
    <td>mastertickets</td>
    <td>gs_path</td>
    <td>Option</td>
    <td>gs</td>
    <td>Path to the ghostscript executable.</td>
  </tr>
  <tr>
    <td>mastertickets</td>
    <td>opened_color</td>
    <td>Option</td>
    <td>red</td>
    <td>Color of opened tickets</td>
  </tr>
  <tr>
    <td>mastertickets</td>
    <td>use_gs</td>
    <td>BoolOption</td>
    <td>False</td>
    <td>If enabled, use ghostscript to produce nicer output.</td>
  </tr>
</table>
