
<html><head><base href="http://ejucovy.github.com/trac-docs/"><body>
<h1 class="name">tracopt.perm.config_perm_provider.ExtraPermissionsProvider</h1>

<p class="doc">Extra permission provider.

This component provides a way to add arbitrary permissions to a Trac
environment. This can be useful for adding new permissions to use for
workflow actions, for example.

To add new permissions, create a new section `[extra-permissions]` in
your `trac.ini`. Every entry in that section defines a meta-permission
and a comma-separated list of permissions. For example:
{{{
[extra-permissions]
extra_admin = extra_view, extra_modify, extra_delete
}}}
This entry will define three new permissions `EXTRA_VIEW`, `EXTRA_MODIFY`
and `EXTRA_DELETE`, as well as a meta-permissions `EXTRA_ADMIN` that
grants all three permissions.

If you don't want a meta-permission, start the meta-name with an
underscore (`_`):
{{{
[extra-permissions]
_perms = extra_view, extra_modify
}}}</p>

<h2>Implements:</h2>
<ul>
  <li><a href="/interface/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
</ul>
</body></html>
