---
layout: main
title: announcer.subscribers.JoinableGroupSubscriber
---
<h1 class="name">announcer.subscribers.JoinableGroupSubscriber</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Allows users to subscribe to groups as defined by the system
administrator.  Any ticket with the said group listed in the cc
field will trigger announcements to users in the group.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementPreferenceProvider/index.html">announcer.api.IAnnouncementPreferenceProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>announcer</td>
    <td>joinable_groups</td>
    <td>ListOption</td>
    <td>[]</td>
  </tr>
</table>
