---
layout: main
title: acct_mgr.guard.AccountGuard
---
<h1 class="name">acct_mgr.guard.AccountGuard</h1>
<h2 class="package">In package <a href="packages/TracAccountManager/index.html">TracAccountManager</a></h2>

<pre class="doc">The AccountGuard component protects against brute-force attacks
on user passwords.

It does so by adding logging of failed login attempts,
account status tracking and administative user account locking.
Configurable time-locks with exponential lock time prolongation
allow to balance graceful handling of failed login attempts and
reasonable protection against attempted brute-force attacks. </pre>

<h2>Implements:</h2>
<ul>
</ul>
