---
layout: main
title: privatetickets.policy.PrivateTicketsPolicy
---
<h1 class="name">privatetickets.policy.PrivateTicketsPolicy</h1>
<h2 class="package">In package <a href="packages/TracPrivateTickets/index.html">TracPrivateTickets</a></h2>

<pre class="doc">Central tasks for the PrivateTickets plugin.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionPolicy/index.html">trac.perm.IPermissionPolicy</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionGroupProvider/index.html">trac.perm.IPermissionGroupProvider</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>privatetickets</td>
    <td>group_blacklist</td>
    <td>ListOption</td>
    <td>anonymous, authenticated</td>
    <td>Groups that do not affect the common membership check.</td>
  </tr>
</table>
