---
layout: main
title: privatetickets.policy.PrivateTicketsPolicy
---
<h1 class="name">privatetickets.policy.PrivateTicketsPolicy</h1>
<h2 class="package">In package <a href="packages/TracPrivateTickets/index.html">TracPrivateTickets</a></h2>

<pre class="doc">Central tasks for the PrivateTickets plugin.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionPolicy/index.html">trac.perm.IPermissionPolicy</a></li>
</ul>
