---
layout: main
title: tracsubtickets.api.SubTicketsSystem
---
<h1 class="name">tracsubtickets.api.SubTicketsSystem</h1>
<h2 class="package">In package <a href="packages/TracSubTicketsPlugin/index.html">TracSubTicketsPlugin</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.env.IEnvironmentSetupParticipant/index.html">trac.env.IEnvironmentSetupParticipant</a></li>
  <li><a href="interfaces/trac.ticket.api.ITicketChangeListener/index.html">trac.ticket.api.ITicketChangeListener</a></li>
  <li><a href="interfaces/trac.ticket.api.ITicketManipulator/index.html">trac.ticket.api.ITicketManipulator</a></li>
</ul>
