---
layout: main
title: trac.ticket.default_workflow.ConfigurableTicketWorkflow
---
<h1 class="name">trac.ticket.default_workflow.ConfigurableTicketWorkflow</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Ticket action controller which provides actions according to a
workflow defined in trac.ini.

The workflow is idefined in the `[ticket-workflow]` section of the
[wiki:TracIni#ticket-workflow-section trac.ini] configuration file.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.ticket.api.ITicketActionController/index.html">trac.ticket.api.ITicketActionController</a></li>
  <li><a href="interfaces/trac.env.IEnvironmentSetupParticipant/index.html">trac.env.IEnvironmentSetupParticipant</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
