---
layout: main
title: tracusermanager.admin.UserManagementAdminPage
---
<h1 class="name">tracusermanager.admin.UserManagementAdminPage</h1>
<h2 class="package">In package <a href="packages/TracUserManagerPlugin/index.html">TracUserManagerPlugin</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.admin.api.IAdminPanelProvider/index.html">trac.admin.api.IAdminPanelProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/tracusermanager.admin.IUserListCellContributor/index.html">tracusermanager.admin.IUserListCellContributor</a></li>
  <li><a href="interfaces/tracusermanager.admin.IUserManagerPanelProvider/index.html">tracusermanager.admin.IUserManagerPanelProvider</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>user_manager</td>
    <td>admin_default_panel</td>
    <td>Option</td>
    <td>profile</td>
    <td>Default user admin panel.</td>
  </tr>
</table>
