---
layout: main
title: announcer.opt.fullblog.announce.FullBlogMyPostSubscriber
---
<h1 class="name">announcer.opt.fullblog.announce.FullBlogMyPostSubscriber</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Subscriber for any blog changes to my posts.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>fullblog-announcement</td>
    <td>always_notify_author</td>
    <td>BoolOption</td>
    <td>true</td>
    <td>Notify the blog author of any changes to her blogs,
including changes to comments.</td>
  </tr>
</table>
