---
layout: main
title: announcer.subscribers.TicketComponentOwnerSubscriber
---
<h1 class="name">announcer.subscribers.TicketComponentOwnerSubscriber</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Allows component owners to subscribe to tickets assigned to their
components.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementDefaultSubscriber/index.html">announcer.api.IAnnouncementDefaultSubscriber</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
