---
layout: main
title: trac.ticket.web_ui.TicketModule
---
<h1 class="name">trac.ticket.web_ui.TicketModule</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.mimeview.api.IContentConverter/index.html">trac.mimeview.api.IContentConverter</a></li>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.search.api.ISearchSource/index.html">trac.search.api.ISearchSource</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.timeline.api.ITimelineEventProvider/index.html">trac.timeline.api.ITimelineEventProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.ticket.api.ITicketManipulator/index.html">trac.ticket.api.ITicketManipulator</a></li>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">ticket/max_comment_size</a></li>
  <li><a href="">ticket/max_description_size</a></li>
  <li><a href="">ticket/preserve_newlines</a></li>
  <li><a href="">query/ticketlink_query</a></li>
  <li><a href="">timeline/ticket_show_details</a></li>
  <li><a href="">timeline/newticket_formatter</a></li>
</ul>
