---
layout: main
title: componentpermissions.api.ComponentPermissionsPolicy
---
<h1 class="name">componentpermissions.api.ComponentPermissionsPolicy</h1>
<h2 class="package">In package <a href="packages/ComponentPermissionsPlugin/index.html">ComponentPermissionsPlugin</a></h2>

<pre class="doc">This component provides permissions based on ticket components for Trac.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.perm.IPermissionPolicy/index.html">trac.perm.IPermissionPolicy</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>component-permissions</td>
    <td>ticket_field_name</td>
    <td>Option</td>
    <td>component_permissions_field</td>
  </tr>
</table>
