---
layout: main
title: acct_mgr.api.AccountManager
---
<h1 class="name">acct_mgr.api.AccountManager</h1>
<h2 class="package">In package <a href="packages/TracAccountManager/index.html">TracAccountManager</a></h2>

<pre class="doc">The AccountManager component handles all user account management methods
provided by the IPasswordStore interface.

The methods will be handled by the underlying password storage
implementation set in trac.ini with the &quot;account-manager.password_format&quot;
setting.

The &quot;account-manager.password_store&quot; may be an ordered list of password
stores.  If it is a list, then each password store is queried in turn.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/acct_mgr.api.IAccountChangeListener/index.html">acct_mgr.api.IAccountChangeListener</a></li>
</ul>
