---
layout: main
title: announcer.subscribers.TicketReporterSubscriber
---
<h1 class="name">announcer.subscribers.TicketReporterSubscriber</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Allows the users to subscribe to tickets that they report.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementDefaultSubscriber/index.html">announcer.api.IAnnouncementDefaultSubscriber</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
