---
layout: main
title: announcer.opt.acct_mgr.announce.AccountManagerAnnouncement
---
<h1 class="name">announcer.opt.acct_mgr.announce.AccountManagerAnnouncement</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Send announcements on account changes.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/acct_mgr.api.IAccountChangeListener/index.html">acct_mgr.api.IAccountChangeListener</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementFormatter/index.html">announcer.api.IAnnouncementFormatter</a></li>
  <li><a href="interfaces/announcer.distributors.mail.IAnnouncementEmailDecorator/index.html">announcer.distributors.mail.IAnnouncementEmailDecorator</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementPreferenceProvider/index.html">announcer.api.IAnnouncementPreferenceProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
</table>
