---
layout: main
title: announcer.filters.DefaultPermissionFilter
---
<h1 class="name">announcer.filters.DefaultPermissionFilter</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">DefaultPermissionFilter simply checks that each subscription
has ${REALM}_VIEW permissions before allow the subscription notice
to be sent.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriptionFilter/index.html">announcer.api.IAnnouncementSubscriptionFilter</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
