---
layout: main
title: keywordsuggest.keywordsuggest.KeywordSuggestModule
---
<h1 class="name">keywordsuggest.keywordsuggest.KeywordSuggestModule</h1>
<h2 class="package">In package <a href="packages/TracKeywordSuggest/index.html">TracKeywordSuggest</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>keywordsuggest</td>
    <td>field</td>
    <td>Option</td>
    <td>keywords</td>
  </tr>
  <tr>
    <td>keywordsuggest</td>
    <td>helppage</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>keywordsuggest</td>
    <td>helppage.newwindow</td>
    <td>BoolOption</td>
    <td>False</td>
  </tr>
  <tr>
    <td>keywordsuggest</td>
    <td>keywords</td>
    <td>ListOption</td>
    <td></td>
  </tr>
  <tr>
    <td>keywordsuggest</td>
    <td>matchcontains</td>
    <td>BoolOption</td>
    <td>True</td>
  </tr>
  <tr>
    <td>keywordsuggest</td>
    <td>multipleseparator</td>
    <td>Option</td>
    <td>,</td>
  </tr>
</table>
