---
layout: main
title: estimationtools.utils.EstimationToolsBase
---
<h1 class="name">estimationtools.utils.EstimationToolsBase</h1>
<h2 class="package">In package <a href="packages/EstimationTools/index.html">EstimationTools</a></h2>

<pre class="doc">Base class EstimationTools components that auto-disables if
estimation field is not properly configured. </pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>estimation-tools</td>
    <td>estimation_field</td>
    <td>Option</td>
    <td>estimatedhours</td>
    <td>Defines what custom field should be used to calculate estimation charts.
Defaults to 'estimatedhours'</td>
  </tr>
</table>
