---
layout: main
title: trac.versioncontrol.svn_fs.SubversionConnector
---
<h1 class="name">trac.versioncontrol.svn_fs.SubversionConnector</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.env.ISystemInfoProvider/index.html">trac.env.ISystemInfoProvider</a></li>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryConnector/index.html">trac.versioncontrol.api.IRepositoryConnector</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
