---
layout: main
title: macropost.web_ui.MacroPostModule
---
<h1 class="name">macropost.web_ui.MacroPostModule</h1>
<h2 class="package">In package <a href="packages/TracMacroPost/index.html">TracMacroPost</a></h2>

<pre class="doc">Magical class that trys to allow macros to POST.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/macropost.api.IMacroPoster/index.html">macropost.api.IMacroPoster</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
