---
layout: main
title: navadd.navadd.NavAdd
---
<h1 class="name">navadd.navadd.NavAdd</h1>
<h2 class="package">In package <a href="packages/NavAdd/index.html">NavAdd</a></h2>

<pre class="doc">Allows to add items to main and meta navigation bar</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
</table>
