---
layout: main
title: trac.notification.NotificationSystem
---
<h1 class="name">trac.notification.NotificationSystem</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.notification.IEmailSender/index.html">trac.notification.IEmailSender</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>notification</td>
    <td>admit_domains</td>
    <td>Option</td>
    <td></td>
    <td>Comma-separated list of domains that should be considered as
valid for email addresses (such as localdomain).</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>email_sender</td>
    <td>ExtensionOption</td>
    <td>SmtpEmailSender</td>
    <td>Name of the component implementing `IEmailSender`.

This component is used by the notification system to send emails.
Trac currently provides `SmtpEmailSender` for connecting to an SMTP
server, and `SendmailEmailSender` for running a `sendmail`-compatible
executable. (''since 0.12'')</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>ignore_domains</td>
    <td>Option</td>
    <td></td>
    <td>Comma-separated list of domains that should not be considered
part of email addresses (for usernames with Kerberos domains).</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>mime_encoding</td>
    <td>Option</td>
    <td>none</td>
    <td>Specifies the MIME encoding scheme for emails.

Valid options are 'base64' for Base64 encoding, 'qp' for
Quoted-Printable, and 'none' for no encoding, in which case mails will
be sent as 7bit if the content is all ASCII, or 8bit otherwise.
(''since 0.10'')</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_always_bcc</td>
    <td>Option</td>
    <td></td>
    <td>Email address(es) to always send notifications to,
addresses do not appear publicly (Bcc:). (''since 0.10'')</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_always_cc</td>
    <td>Option</td>
    <td></td>
    <td>Email address(es) to always send notifications to,
addresses can be seen by all recipients (Cc:).</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_default_domain</td>
    <td>Option</td>
    <td></td>
    <td>Default host/domain to append to address that do not specify
one.</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_enabled</td>
    <td>BoolOption</td>
    <td>false</td>
    <td>Enable email notification.</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_from</td>
    <td>Option</td>
    <td>trac@localhost</td>
    <td>Sender address to use in notification emails.</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_from_author</td>
    <td>BoolOption</td>
    <td>false</td>
    <td>Use the action author as the sender of notification emails.
(''since 0.13'')</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_from_name</td>
    <td>Option</td>
    <td></td>
    <td>Sender name to use in notification emails.</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_replyto</td>
    <td>Option</td>
    <td>trac@localhost</td>
    <td>Reply-To address to use in notification emails.</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_subject_prefix</td>
    <td>Option</td>
    <td>__default__</td>
    <td>Text to prepend to subject line of notification emails. 

If the setting is not defined, then the [$project_name] prefix.
If no prefix is desired, then specifying an empty option 
will disable it. (''since 0.10.1'')</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>use_public_cc</td>
    <td>BoolOption</td>
    <td>false</td>
    <td>Recipients can see email addresses of other CC'ed recipients.

If this option is disabled (the default), recipients are put on BCC.
(''since 0.10'')</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>use_short_addr</td>
    <td>BoolOption</td>
    <td>false</td>
    <td>Permit email address without a host/domain (i.e. username only).

The SMTP server should accept those addresses, and either append
a FQDN or use local delivery. (''since 0.10'')</td>
  </tr>
</table>
