---
layout: main
title: trac.notification.NotificationSystem
---
<h1 class="name">trac.notification.NotificationSystem</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.notification.IEmailSender/index.html">trac.notification.IEmailSender</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>notification</td>
    <td>admit_domains</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>notification</td>
    <td>email_sender</td>
    <td>ExtensionOption</td>
    <td>SmtpEmailSender</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>ignore_domains</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>notification</td>
    <td>mime_encoding</td>
    <td>Option</td>
    <td>none</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_always_bcc</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_always_cc</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_default_domain</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_enabled</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_from</td>
    <td>Option</td>
    <td>trac@localhost</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_from_author</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_from_name</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_replyto</td>
    <td>Option</td>
    <td>trac@localhost</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>smtp_subject_prefix</td>
    <td>Option</td>
    <td>__default__</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>use_public_cc</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>use_short_addr</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
</table>
