---
layout: main
title: trac.notification.NotificationSystem
---
<h1 class="name">trac.notification.NotificationSystem</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.notification.IEmailSender/index.html">trac.notification.IEmailSender</a></li>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">notification/admit_domains</a></li>
  <li><a href="">notification/email_sender</a></li>
  <li><a href="">notification/ignore_domains</a></li>
  <li><a href="">notification/mime_encoding</a></li>
  <li><a href="">notification/smtp_always_bcc</a></li>
  <li><a href="">notification/smtp_always_cc</a></li>
  <li><a href="">notification/smtp_default_domain</a></li>
  <li><a href="">notification/smtp_enabled</a></li>
  <li><a href="">notification/smtp_from</a></li>
  <li><a href="">notification/smtp_from_author</a></li>
  <li><a href="">notification/smtp_from_name</a></li>
  <li><a href="">notification/smtp_replyto</a></li>
  <li><a href="">notification/smtp_subject_prefix</a></li>
  <li><a href="">notification/use_public_cc</a></li>
  <li><a href="">notification/use_short_addr</a></li>
</ul>
