---
layout: main
title: trac.ticket.notification.TicketNotificationSystem
---
<h1 class="name">trac.ticket.notification.TicketNotificationSystem</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>notification</td>
    <td>always_notify_owner</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>always_notify_reporter</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>always_notify_updater</td>
    <td>BoolOption</td>
    <td>true</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>ambiguous_char_width</td>
    <td>Option</td>
    <td>single</td>
  </tr>
  <tr>
    <td>notification</td>
    <td>ticket_subject_template</td>
    <td>Option</td>
    <td>$prefix #$ticket.id: $summary</td>
  </tr>
</table>
