---
layout: main
title: newticketlikethis.policies.SimpleTicketCloner
---
<h1 class="name">newticketlikethis.policies.SimpleTicketCloner</h1>
<h2 class="package">In package <a href="packages/NewTicketLikeThisPlugin/index.html">NewTicketLikeThisPlugin</a></h2>

<pre class="doc">A simple ITicketCloner with no configurability.  It clones
all fields from the original ticket with their precise values,
except for the summary and description, which are modified
slightly to indicate what ticket they were cloned from.

This mimics the behavior of the core tracopt.ticket.clone module.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/newticketlikethis.interfaces.ITicketCloner/index.html">newticketlikethis.interfaces.ITicketCloner</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<ul>
</ul>
