---
layout: main
title: announcer.subscribers.TicketCustomFieldSubscriber
---
<h1 class="name">announcer.subscribers.TicketCustomFieldSubscriber</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Allows users to subscribe to tickets that have their sid listed in any
field that has a name in the custom_cc_fields list.  The custom_cc_fields
list must be configured by the system administrator.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementDefaultSubscriber/index.html">announcer.api.IAnnouncementDefaultSubscriber</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>announcer</td>
    <td>custom_cc_fields</td>
    <td>ListOption</td>
    <td></td>
    <td>Field names that contain users that should be notified on ticket changes</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>always_notify_custom_cc_distributor</td>
    <td>ListOption</td>
    <td>email</td>
    <td>Comma seperated list of distributors to send the message to
by default.  ex. email, xmpp</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>always_notify_custom_cc</td>
    <td>BoolOption</td>
    <td>true</td>
    <td>The always_notify_custom_cc will notify the users in the custom
cc field by default when a ticket is modified.</td>
  </tr>
</table>
