---
layout: main
title: announcer.subscribers.TicketCustomFieldSubscriber
---
<h1 class="name">announcer.subscribers.TicketCustomFieldSubscriber</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Allows users to subscribe to tickets that have their sid listed in any
field that has a name in the custom_cc_fields list.  The custom_cc_fields
list must be configured by the system administrator.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementDefaultSubscriber/index.html">announcer.api.IAnnouncementDefaultSubscriber</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
