---
layout: main
title: announcer.subscribers.TicketComponentSubscriber
---
<h1 class="name">announcer.subscribers.TicketComponentSubscriber</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Allows users to subscribe to ticket assigned to the components of their
choice.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementPreferenceProvider/index.html">announcer.api.IAnnouncementPreferenceProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
