
<html><head><base href="http://ejucovy.github.com/trac-docs/"><body>
<h1 class="name">trac.about.AboutModule</h1>

<p class="doc">&quot;About Trac&quot; page provider, showing version information from
third-party packages, as well as configuration information.</p>

<h2>Implements:</h2>
<ul>
  <li><a href="/interface/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="/interface/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="/interface/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
</ul>
</body></html>
