
---
layout: main
title: newticketlikethis.policies.ExcludedFieldsTicketCloner
---
<h1 class="name">newticketlikethis.policies.ExcludedFieldsTicketCloner</h1>

<pre class="doc">An ITicketCloner implementation that will exclude certain fields
from the original ticket when building a clone.  

The list of fields to exclude can be configured with in trac.ini
with the ``[newticketlikethis] excluded_fields`` option.

By default, no fields are excluded.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/newticketlikethis.interfaces.ITicketCloner/index.html">newticketlikethis.interfaces.ITicketCloner</a></li>
</ul>
