---
layout: main
title: trac.admin.web_ui.PluginAdminPanel
---
<h1 class="name">trac.admin.web_ui.PluginAdminPanel</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.admin.api.IAdminPanelProvider/index.html">trac.admin.api.IAdminPanelProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
</table>
