---
layout: main
title: announcer.producers.TicketChangeProducer
---
<h1 class="name">announcer.producers.TicketChangeProducer</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.ticket.api.ITicketChangeListener/index.html">trac.ticket.api.ITicketChangeListener</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementProducer/index.html">announcer.api.IAnnouncementProducer</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">announcer/ignore_cc_changes</a></li>
</ul>
