---
layout: main
title: trac.ticket.api.TicketSystem
---
<h1 class="name">trac.ticket.api.TicketSystem</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
  <li><a href="interfaces/trac.resource.IResourceManager/index.html">trac.resource.IResourceManager</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.ticket.api.ITicketActionController/index.html">trac.ticket.api.ITicketActionController</a></li>
  <li><a href="interfaces/trac.ticket.api.ITicketChangeListener/index.html">trac.ticket.api.ITicketChangeListener</a></li>
  <li><a href="interfaces/trac.ticket.api.IMilestoneChangeListener/index.html">trac.ticket.api.IMilestoneChangeListener</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>ticket</td>
    <td>workflow</td>
    <td>OrderedExtensionsOption</td>
    <td>ConfigurableTicketWorkflow</td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_cc</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_component</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_description</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_keywords</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_milestone</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_owner</td>
    <td>Option</td>
    <td>&lt; default &gt;</td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_priority</td>
    <td>Option</td>
    <td>major</td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_resolution</td>
    <td>Option</td>
    <td>fixed</td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_severity</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_summary</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_type</td>
    <td>Option</td>
    <td>defect</td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>default_version</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>ticket</td>
    <td>restrict_owner</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
</table>
