---
layout: main
title: trac.ticket.api.TicketSystem
---
<h1 class="name">trac.ticket.api.TicketSystem</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.perm.IPermissionRequestor/index.html">trac.perm.IPermissionRequestor</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
  <li><a href="interfaces/trac.resource.IResourceManager/index.html">trac.resource.IResourceManager</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.ticket.api.ITicketActionController/index.html">trac.ticket.api.ITicketActionController</a></li>
  <li><a href="interfaces/trac.ticket.api.ITicketChangeListener/index.html">trac.ticket.api.ITicketChangeListener</a></li>
  <li><a href="interfaces/trac.ticket.api.IMilestoneChangeListener/index.html">trac.ticket.api.IMilestoneChangeListener</a></li>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">ticket/workflow</a></li>
  <li><a href="">ticket/default_cc</a></li>
  <li><a href="">ticket/default_component</a></li>
  <li><a href="">ticket/default_description</a></li>
  <li><a href="">ticket/default_keywords</a></li>
  <li><a href="">ticket/default_milestone</a></li>
  <li><a href="">ticket/default_owner</a></li>
  <li><a href="">ticket/default_priority</a></li>
  <li><a href="">ticket/default_resolution</a></li>
  <li><a href="">ticket/default_severity</a></li>
  <li><a href="">ticket/default_summary</a></li>
  <li><a href="">ticket/default_type</a></li>
  <li><a href="">ticket/default_version</a></li>
  <li><a href="">ticket/restrict_owner</a></li>
</ul>
