---
layout: main
title: tracusermanager.profile.api.UserProfileManager
---
<h1 class="name">tracusermanager.profile.api.UserProfileManager</h1>
<h2 class="package">In package <a href="packages/TracUserManagerPlugin/index.html">TracUserManagerPlugin</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>user_manager</td>
    <td>wiki_page_attachment</td>
    <td>Option</td>
    <td>UserManagerPluginPictures</td>
    <td>Wiki Page used by TracUserManager plugin to manage 
UserProfile's picture.</td>
  </tr>
</table>
