---
layout: main
title: announcer.email_decorators.WikiSubjectEmailDecorator
---
<h1 class="name">announcer.email_decorators.WikiSubjectEmailDecorator</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Formats wiki announcement subject headers based on the
wiki_email_subject configuration.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.distributors.mail.IAnnouncementEmailDecorator/index.html">announcer.distributors.mail.IAnnouncementEmailDecorator</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>announcer</td>
    <td>wiki_email_subject</td>
    <td>Option</td>
    <td>Page: ${page.name} ${action}</td>
    <td>Format string for the wiki email subject.  This is a
mini genshi template and it is passed the page, event
and action objects.</td>
  </tr>
</table>
