---
layout: main
title: newticketlikethis.core.NewTicketLikeThisPlugin
---
<h1 class="name">newticketlikethis.core.NewTicketLikeThisPlugin</h1>
<h2 class="package">In package <a href="packages/NewTicketLikeThisPlugin/index.html">NewTicketLikeThisPlugin</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/newticketlikethis.interfaces.ITicketCloner/index.html">newticketlikethis.interfaces.ITicketCloner</a></li>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">newticketlikethis/ticket_clone_permission</a></li>
  <li><a href="">newticketlikethis/ticket_cloner</a></li>
</ul>
