---
layout: main
title: trac.db.api.DatabaseManager
---
<h1 class="name">trac.db.api.DatabaseManager</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.db.api.IDatabaseConnector/index.html">trac.db.api.IDatabaseConnector</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>trac</td>
    <td>backup_dir</td>
    <td>Option</td>
    <td>db</td>
  </tr>
  <tr>
    <td>trac</td>
    <td>database</td>
    <td>Option</td>
    <td>sqlite:db/trac.db</td>
  </tr>
  <tr>
    <td>trac</td>
    <td>debug_sql</td>
    <td>BoolOption</td>
    <td>False</td>
  </tr>
  <tr>
    <td>trac</td>
    <td>timeout</td>
    <td>IntOption</td>
    <td>20</td>
  </tr>
</table>
