---
layout: main
title: trac.db.api.DatabaseManager
---
<h1 class="name">trac.db.api.DatabaseManager</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.db.api.IDatabaseConnector/index.html">trac.db.api.IDatabaseConnector</a></li>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">trac/backup_dir</a></li>
  <li><a href="">trac/database</a></li>
  <li><a href="">trac/debug_sql</a></li>
  <li><a href="">trac/timeout</a></li>
</ul>
