---
layout: main
title: announcer.distributors.mail.SendmailEmailSender
---
<h1 class="name">announcer.distributors.mail.SendmailEmailSender</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">E-mail sender using a locally-installed sendmail program.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.distributors.mail.IEmailSender/index.html">announcer.distributors.mail.IEmailSender</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
