---
layout: main
title: announcer.subscribers.TicketUpdaterSubscriber
---
<h1 class="name">announcer.subscribers.TicketUpdaterSubscriber</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">Allows updaters to subscribe to their own updates.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.api.IAnnouncementDefaultSubscriber/index.html">announcer.api.IAnnouncementDefaultSubscriber</a></li>
  <li><a href="interfaces/announcer.api.IAnnouncementSubscriber/index.html">announcer.api.IAnnouncementSubscriber</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>announcer</td>
    <td>never_notify_updater_distributor</td>
    <td>ListOption</td>
    <td>email</td>
  </tr>
  <tr>
    <td>announcer</td>
    <td>never_notify_updater</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
</table>
