---
layout: main
title: trac.versioncontrol.api.RepositoryManager
---
<h1 class="name">trac.versioncontrol.api.RepositoryManager</h1>
<div class="package">In package Trac</div>

<pre class="doc">Version control system manager.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.resource.IResourceManager/index.html">trac.resource.IResourceManager</a></li>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryProvider/index.html">trac.versioncontrol.api.IRepositoryProvider</a></li>
</ul>
