---
layout: main
title: trac.versioncontrol.api.RepositoryManager
---
<h1 class="name">trac.versioncontrol.api.RepositoryManager</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Version control system manager.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.resource.IResourceManager/index.html">trac.resource.IResourceManager</a></li>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryProvider/index.html">trac.versioncontrol.api.IRepositoryProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryChangeListener/index.html">trac.versioncontrol.api.IRepositoryChangeListener</a></li>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryConnector/index.html">trac.versioncontrol.api.IRepositoryConnector</a></li>
  <li><a href="interfaces/trac.versioncontrol.api.IRepositoryProvider/index.html">trac.versioncontrol.api.IRepositoryProvider</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>trac</td>
    <td>repository_dir</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>trac</td>
    <td>repository_sync_per_request</td>
    <td>ListOption</td>
    <td>(default)</td>
  </tr>
  <tr>
    <td>trac</td>
    <td>repository_type</td>
    <td>Option</td>
    <td>svn</td>
  </tr>
</table>
