---
layout: main
title: announcer.distributors.mail.SmtpEmailSender
---
<h1 class="name">announcer.distributors.mail.SmtpEmailSender</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">E-mail sender connecting to an SMTP server.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.distributors.mail.IEmailSender/index.html">announcer.distributors.mail.IEmailSender</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<ul>
  <li><a href="">smtp/debuglevel</a></li>
  <li><a href="">smtp/password</a></li>
  <li><a href="">smtp/port</a></li>
  <li><a href="">smtp/server</a></li>
  <li><a href="">smtp/timeout</a></li>
  <li><a href="">smtp/use_ssl</a></li>
  <li><a href="">smtp/use_tls</a></li>
  <li><a href="">smtp/user</a></li>
</ul>
