---
layout: main
title: announcer.distributors.mail.SmtpEmailSender
---
<h1 class="name">announcer.distributors.mail.SmtpEmailSender</h1>
<h2 class="package">In package <a href="packages/TracAnnouncer/index.html">TracAnnouncer</a></h2>

<pre class="doc">E-mail sender connecting to an SMTP server.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/announcer.distributors.mail.IEmailSender/index.html">announcer.distributors.mail.IEmailSender</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>smtp</td>
    <td>debuglevel</td>
    <td>IntOption</td>
    <td>0</td>
  </tr>
  <tr>
    <td>smtp</td>
    <td>password</td>
    <td>Option</td>
    <td></td>
  </tr>
  <tr>
    <td>smtp</td>
    <td>port</td>
    <td>IntOption</td>
    <td>25</td>
  </tr>
  <tr>
    <td>smtp</td>
    <td>server</td>
    <td>Option</td>
    <td>localhost</td>
  </tr>
  <tr>
    <td>smtp</td>
    <td>timeout</td>
    <td>IntOption</td>
    <td>10</td>
  </tr>
  <tr>
    <td>smtp</td>
    <td>use_ssl</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
  <tr>
    <td>smtp</td>
    <td>use_tls</td>
    <td>BoolOption</td>
    <td>false</td>
  </tr>
  <tr>
    <td>smtp</td>
    <td>user</td>
    <td>Option</td>
    <td></td>
  </tr>
</table>
