---
layout: main
title: tracmenus.web_ui.MenuManagerModule
---
<h1 class="name">tracmenus.web_ui.MenuManagerModule</h1>
<h2 class="package">In package <a href="packages/TracMenusPlugin/index.html">TracMenusPlugin</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>menu-custom</td>
    <td>managed_menus</td>
    <td>ListOption</td>
    <td>mainnav,metanav</td>
    <td>List of menus to be controlled by the Menu Manager</td>
  </tr>
  <tr>
    <td>menu-custom</td>
    <td>serve_ui_files</td>
    <td>BoolOption</td>
    <td>True</td>
    <td></td>
  </tr>
</table>
