---
layout: main
title: trac.wiki.api.WikiSystem
---
<h1 class="name">trac.wiki.api.WikiSystem</h1>
<h2 class="package">In package <a href="packages/Trac/index.html">Trac</a></h2>

<pre class="doc">Wiki system manager.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
  <li><a href="interfaces/trac.resource.IResourceManager/index.html">trac.resource.IResourceManager</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/trac.wiki.api.IWikiChangeListener/index.html">trac.wiki.api.IWikiChangeListener</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiMacroProvider/index.html">trac.wiki.api.IWikiMacroProvider</a></li>
  <li><a href="interfaces/trac.wiki.api.IWikiSyntaxProvider/index.html">trac.wiki.api.IWikiSyntaxProvider</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th><th>Docs</th></tr>
  </thead>
  <tr>
    <td>wiki</td>
    <td>ignore_missing_pages</td>
    <td>BoolOption</td>
    <td>false</td>
    <td>Enable/disable highlighting CamelCase links to missing pages
(''since 0.9'').</td>
  </tr>
  <tr>
    <td>wiki</td>
    <td>render_unsafe_content</td>
    <td>BoolOption</td>
    <td>false</td>
    <td>Enable/disable the use of unsafe HTML tags such as `&lt;script&gt;` or
`&lt;embed&gt;` with the HTML [wiki:WikiProcessors WikiProcessor]
(''since 0.10.4'').

For public sites where anonymous users can edit the wiki it is
recommended to leave this option disabled (which is the default).</td>
  </tr>
  <tr>
    <td>wiki</td>
    <td>safe_schemes</td>
    <td>ListOption</td>
    <td>cvs, file, ftp, git, irc, http, https, news, sftp, smb, ssh, svn, svn+ssh</td>
    <td>List of URI schemes considered &quot;safe&quot;, that will be rendered as
external links even if `[wiki] render_unsafe_content` is `false`.
(''since 0.11.8'')</td>
  </tr>
  <tr>
    <td>wiki</td>
    <td>split_page_names</td>
    <td>BoolOption</td>
    <td>false</td>
    <td>Enable/disable splitting the WikiPageNames with space characters
(''since 0.10'').</td>
  </tr>
</table>
