---
layout: main
title: sumstats.web_ui.SumTicketDataSourceProvider
---
<h1 class="name">sumstats.web_ui.SumTicketDataSourceProvider</h1>
<h2 class="package">In package <a href="packages/TracSumStats/index.html">TracSumStats</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
  <tr>
    <td>sumstats</td>
    <td>filter</td>
    <td>ListOption</td>
    <td></td>
  </tr>
  <tr>
    <td>sumstats</td>
    <td>field</td>
    <td>Option</td>
    <td></td>
  </tr>
</table>
