---
layout: main
title: ticketsidebarprovider.ticketsidebar.TicketSidebarProvider
---
<h1 class="name">ticketsidebarprovider.ticketsidebar.TicketSidebarProvider</h1>
<h2 class="package">In package <a href="packages/TicketSidebarProvider/index.html">TicketSidebarProvider</a></h2>

<pre class="doc"></pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.web.api.ITemplateStreamFilter/index.html">trac.web.api.ITemplateStreamFilter</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
  <li><a href="interfaces/ticketsidebarprovider.interface.ITicketSidebarProvider/index.html">ticketsidebarprovider.interface.ITicketSidebarProvider</a></li>
</ul>

<h2>Options:</h2>
<table>
  <thead>
    <tr><th>Section</th><th>Name</th><th>Type</th><th>Default</th></tr>
  </thead>
</table>
