---
layout: main
title: acct_mgr.web_ui.AccountModule
---
<h1 class="name">acct_mgr.web_ui.AccountModule</h1>
<h2 class="package">In package <a href="packages/TracAccountManager/index.html">TracAccountManager</a></h2>

<pre class="doc">Exposes methods for users to do account management on their own.

Allows users to change their password, reset their password, if they've
forgotten it, even delete their account.  The settings for the
AccountManager module must be set in trac.ini in order to use this.</pre>

<h2>Implements:</h2>
<ul>
  <li><a href="interfaces/trac.prefs.api.IPreferencePanelProvider/index.html">trac.prefs.api.IPreferencePanelProvider</a></li>
  <li><a href="interfaces/trac.web.api.IRequestHandler/index.html">trac.web.api.IRequestHandler</a></li>
  <li><a href="interfaces/trac.web.chrome.ITemplateProvider/index.html">trac.web.chrome.ITemplateProvider</a></li>
  <li><a href="interfaces/trac.web.chrome.INavigationContributor/index.html">trac.web.chrome.INavigationContributor</a></li>
  <li><a href="interfaces/trac.web.api.IRequestFilter/index.html">trac.web.api.IRequestFilter</a></li>
</ul>

<h2>Contains via Extension Points:</h2>
<ul>
</ul>
